@import "compass/css3/transition";

.button {
	font-size: 16px;

	color: $button-text;

	background-image: url("../../images/button-background.jpg");
	background-repeat: repeat-x;
	background-position: 0 0;

	@include transition-property( background-position, color );
	@include transition-duration( 0.2s, 0.2s );

	padding: 6px 10px 4px 10px;

	text-align: center;
	text-decoration: none;

	letter-spacing: 1px;
}

.button:hover {
	background-position: 0 -26px;
	color: $button-text-hover;
}