$stage-width: 800px;
$grid-size: $stage-width / 4;

.one-by-one {
	width: $grid-size - 8px;
	height: $grid-size - 8px;
}

.one-by-two {
	width: $grid-size - 8px;
	height: $grid-size * 2 - 8px;
}

.two-by-one {
	width: $grid-size * 2 - 8px;
	height: $grid-size - 8px;
}

.two-by-two {
	width: $grid-size * 2 - 8px;
	height: $grid-size * 2 - 8px;
}

.three-by-two {
	width: $grid-size * 3 - 8px;
	height: $grid-size * 2 - 8px;
}

.four-by-one {
	width: $grid-size * 4 - 8px;
	height: $grid-size - 8px;
}