@import "color";

@mixin small-button {
	text-decoration: none;
	padding: 1px;

	background-image: url( ../../images/white-stripe.jpg );
	background-repeat: repeat-x;
	background-position: 0 26px;

	@include transition-property( background-position, color );
	@include transition-duration( 0.2s, 0.2s );

	&:hover {
		background-position: 0 0;
		color: $button-text-hover;
	}
}