@import "color";
@import "modules/grid";
@import "compass/utilities/general/clearfix";
@import "compass/css3/transform";
@import "compass/css3/transition";

* {
	-webkit-font-smoothing: antialiased;
}

html {
	overflow-y: scroll;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Hammersmith One", "Helvetica Neue", "Arial", sans-serif;
	background-color: $background-color;

	@include perspective( 500px );
}

header {
	background-color: $header-background;

	height: 47px;
	width: $stage-width - 8px;
	margin: 0 auto 8px auto;

	h1 {
		font-size: 18px;
		color: $header-font-color;
		padding: 15px;
	}
}

#container {
	padding-left: 8px;
	width: $stage-width;
	margin: auto;

	@include perspective( 500px );

	@include clearfix;
}