// Basic

$background-color: #3f3f3f;
$base-text-color: white;


// Buttons

$button-text: white;
$button-text-hover: black;


// Header

$header-background: black;
$header-font-color: white;


// Tiles

$swirl-background: #dcdcdc;
$swirl-text-color: black;

$hair-background: #cf4b4b;
$hair-text-color: $base-text-color;
$hair-link-color: #DDD;

$mathias-text-color: $base-text-color;

$twitter-background: #00aced;
$twitter-text-color: $base-text-color;

$marblerun-background: #d6c50a;
$marblerun-text-color: $base-text-color;

$swidgets-background: #ac0403;
$swidgets-text-color: $base-text-color;

$html5games-background: #7196bd;
$html5games-text-color: $base-text-color;

$contact-background: #ae6044;
$contact-text-color: $base-text-color;

$worms-background: #8a4e9c;
$worms-text-color: $base-text-color;

$adk-background: #1b1b1b;
$adk-text-color: $base-text-color;

$mario-background: #71bd7b;
$mario-text-color: $base-text-color;
$mario-link-color: #2f4d33;

$confetti-background: #13757e;
$confetti-text-color: $base-text-color;

$pi-background: #1c3062;
$pi-text-color: $base-text-color;
$pi-link-color: #8799c4;

$code-background: #000;
$code-text-color: $base-text-color;

$spread-background: white;
$spread-text-color: #000;