
$base-size: 150px;
$color: #fff;
$color-dark: shade( $color, 50 );
$time: 1.3s;
$angle: 90deg;


@mixin animation( $definition ) {
    @include experimental( animation, $definition, -moz, -webkit, not -o, not -ms, not -khtml, official );
}

@mixin keyframes( $name ) {
    @-webkit-keyframes $name { @content; }
    @-moz-keyframes $name { @content; }
    @-ms-keyframes $name { @content; }
    @-o-keyframes $name { @content; }
    @keyframes $name { @content; }
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $base-size;
    height: $base-size;

    @include transform( translate( -50%, -50% ) rotate( 45deg ) );
    @include single-transition( opacity, 0.5s );
}

#loader.hidden {
    opacity: 0;
}

#loader-container {
    width: $base-size;
    height: $base-size;

    @include perspective( 300px );
    @include perspective-origin( 50% 50% );
    @include transform-style( preserve-3d );
    @include animation( $time container-frames infinite );
}

@include keyframes( container-frames ) {
    0%   { @include transform( scale( 1, 1 ) translate( 0, 0 ) rotate( 0deg ) ); }
    60%  { @include transform( scale( 1, 1 ) translate( 0, 0 ) rotate( 0deg ) ); }
    80%  { @include transform( scale( 0.5, 0.5 ) translate( -$base-size / 2, -$base-size / 2 ) rotate( 90deg ) ); }
    100% { @include transform( scale( 0.5, 0.5 ) translate( -$base-size / 2, -$base-size / 2 ) rotate( 90deg ) ); }
}

.quarter {
    width: 50%;
    height: 50%;
    display: inline-block;
    float: left;
    outline: 1px solid $color;
}

.one {
    background-color: $color;
}

.two {
    @include transform-origin( 0px, 50%, 0px );
    @include animation( $time two-frames infinite );
}

@include keyframes( two-frames ) {
    0% {
        @include transform( rotateY( $angle ) );
        background-color: $color;
        outline: 1px solid $color;
    }
    1% {
        @include transform( rotateY( $angle ) );
        background-color: $color-dark;
        outline: 1px solid $color-dark;
    }
    20% {
        @include transform( rotateY( 0deg ) );
        background-color: $color;
        outline: 1px solid $color;
    }
    100% {
        @include transform( rotateY( 0deg ) );
        background-color: $color;
        outline: 1px solid $color;
    }
}

.three {
    background-color: $color;
    @include transform-origin( 100%, 50%, 0px );
    @include animation( $time three-frames infinite );
}

@include keyframes( three-frames ) {
    0%  {
        @include transform( rotateY( -$angle ) );
        background-color: $color-dark;
        outline: 1px solid $color-dark;
    }
    40% {
        @include transform( rotateY( -$angle ) );
        background-color: $color-dark;
        outline: 1px solid $color-dark;
    }
    60% {
        @include transform( rotateY( 0deg ) );
        background-color: $color;
        outline: 1px solid $color;
    }
    100% {
        @include transform( rotateY( 0deg ) );
        background-color: $color;
        outline: 1px solid $color;
    }
}

.four {
    background-color: $color;
    @include transform-origin( 50%, 0px, 0px );
    @include animation( $time four-frames infinite );
}

@include keyframes( four-frames ) {
    0%  {
        @include transform( rotateX( -$angle ) );
        background-color: $color-dark;
        outline: 1px solid $color-dark;
    }
    20% {
        @include transform( rotateX( -$angle ) );
        background-color: $color-dark;
        outline: 1px solid $color-dark;
    }
    40% { @include transform( rotateX( 0deg ) );
        background-color: $color;
        outline: 1px solid $color;
    }
    100% { @include transform( rotateX( 0deg ) );
        background-color: $color;
        outline: 1px solid $color;
    }
}
