
$inner-padding: 22px;
$outer-margin: 8px;
$button-padding: 8px;


.tile {
	margin-right: $outer-margin;
	margin-bottom: $outer-margin;

	position: relative;

	float: left;
}

h2 {
	font-size: 30px;
	font-weight: bold;

	padding-top: $inner-padding;
	padding-left: $inner-padding;
}

span.subtitle {
	display: block;

	font-size: 14px;
	font-width: bold;

	padding-top: 0px;
	padding-left: $inner-padding;
}

span.description {
	line-height: 20px;
	font-size: 14px;
	display: block;
	margin: $inner-padding;
}

@import "tiles/swirl";
@import "tiles/hair";
@import "tiles/mathias";
@import "tiles/twitter";
@import "tiles/marblerun";
@import "tiles/swidgets";
@import "tiles/html5games";
@import "tiles/contact";
@import "tiles/worms";
@import "tiles/adk";
@import "tiles/mario";
@import "tiles/confetti";
@import "tiles/pi";
@import "tiles/code";
@import "tiles/spread";
@import "tiles/counselor";