@import "styles/reset.scss";

:root {
    --bar-width: 70px;
    --background-color: #0F0F0F;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: var( --background-color );
    color: white;
    font-family: "Droid Sans", serif;
    transition: background-color 0.8s;
}

.bar {
    background-color: white;
    display: inline-block;
    height: 19px;
    width: 70px;
}

.title {
    font-family: "Reem Kufi", sans-serif;
    font-size: 24px;
}

.bold {
    font-weight: 500;
}

