@import "./styles/reset.css";

* {
    box-sizing: border-box;
}

:root {
    --sans-serif: "Reem Kufi", sans-serif;
    --serif: Merriweather, serif;
}

html,
body {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

body {
    font-family: var(--sans-serif);
}
