@import "color";
@import "modules/button";
@import "modules/small-button";

#hair {
	background-color: $hair-background;
	background-image: url( ../../images/hair.png );
	background-position: center bottom;
	background-repeat: no-repeat;
	color: $hair-text-color;

	.description a {
		color: $hair-link-color;
		@include small-button;
	}

	a.button {
		position: absolute;
		bottom: $button-padding;
	}

	a.url {
		right: $button-padding * 2 + 62px;
	}

	a.code {
		right: $button-padding;
	}
}