@import "color";
@import "modules/button";

#html5games {
	background-color: $html5games-background;
	color: $html5games-text-color;

	a.url {
		position: absolute;
		bottom: $button-padding;
		right: $button-padding;
	}

	img {
		border: 4px solid white;
		position: absolute;
		left: $inner-padding;
		bottom: $inner-padding;
	}

	span.description.side {
		display: block;
		width: 160px;
		position: absolute;
		left: 180px;
		top: 155px;
	}
}