@import "color";
@import "modules/small-button";

#mario {
	background-color: $mario-background;
	background-repeat: no-repeat;
	background-position: bottom right;
	color: $mario-text-color;

	span.description a {
		color: $mario-link-color;
		@include small-button;
	}

	a.url {
		position: absolute;
		bottom: $button-padding;
		right: $button-padding;
	}

}