@import "color";
@import "modules/button";

#twitter {
	background-image: url( ../../images/twitter.jpg );
	background-position: center center;
	background-repeat: no-repeat;

	a.url {
		position: absolute;
		bottom: $button-padding;
		right: $button-padding;
	}
}