.button {
    border: 1px solid white;
    font-family: "Reem Kufi", sans-serif;
    padding: 15px;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 10;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    width: 135px;

    a {
        display: inline-block;
        min-width: 150px;
        color: inherit;
        text-decoration: inherit;
    }
}

.before {
    width: 0%;
    padding: 15px 0;
    border: 1px solid transparent;
}


