.button {
    border: 1px solid white;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-family: "Reem Kufi", sans-serif;
    font-size: 12px;
    overflow: hidden;
    padding: 15px 15px 13px 15px;
    position: relative;
    text-decoration: inherit;
    transition: all 0.3s ease-in-out;
    width: 135px;
    z-index: 10;

    span {
        display: inline-block;
        width: 300px;
    }
}

.button::after {
    background-color: white;
    content: " ";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 0%;
    transition: width 0.4s 0.2s ease-in-out;
}

.button::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba( 255, 255, 255, 0.2 );
    transition: width 0.3s cubic-bezier( 0.55, 0, 0, 1 );
}

.button:hover::before {
    width: 100%;
}

.button.before::after {
    width: 100%;
}

.before {
    border: 1px solid transparent;
    padding: 15px 0;
    width: 0%;
}


