.header {
    margin-top: 30px;
}

.bar {
    display: inline-block;
    height: 19px;
    margin-right: 7px;
    position: relative;
    width: var( --bar-width );
}

.bar::after {
    background-color: white;
    content: "  ";
    height: 100%;
    left: -40px;
    position: absolute;
    top: 0;
    width: calc( 100% + 40px );
}

.title {
    font-family: "Reem Kufi", sans-serif;
    font-size: 24px;
}
