.frame {
    height: 100%;
    position: absolute;
}

.border {
    background-color: white;
    display: block;
    height: 100%;
    padding: 10px;
    transition: all 0.5s cubic-bezier( 0.67, 0, 0.18, 1 );
    overflow: hidden;
}

.before {
    .border {
        width: 0px;
    }
}

.workImage {
    height: 100%;
}

.animate {
    transition:
        transform 0.7s cubic-bezier( 0.67, 0, 0.18, 1 ),
        height 0.4s ease-in-out,
        width 0.4s ease-in-out;
}

.tag {
    background-color: white;
    bottom: 0;
    color: black;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    overflow: hidden;
    padding: 5px 10px 0 10px;
    position: absolute;
    right: 1px;
    transform-origin: bottom right;
    transform: rotate( 90deg );
    transition: transform 0.5s;
}

.tag.hideTag {
    transform: rotate( 90deg ) rotateX( 90deg );
}

.close {
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: bold;
    left: 0;
    padding: 5px 10px 0 10px;
    position: absolute;
    top: -16px;
    transform-origin: bottom center;
    transition: transform 0.5s;
}

.close.hideTag {
    transform: rotateX( 90deg );
}

.imageList {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
