.frame {
    background-color: white;
    height: 100%;
    padding: 10px;
    position: absolute;
}

.workImage {
    height: 100%;
}

.animate {
    transition:
        transform 0.7s cubic-bezier( 0.67, 0, 0.18, 1 ),
        height 0.4s ease-in-out,
        width 0.4s ease-in-out;
}

.tag {
    background-color: white;
    bottom: 0;
    color: black;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    overflow: hidden;
    padding: 5px 10px 0 10px;
    position: absolute;
    right: 1px;
    transform-origin: bottom right;
    transform: rotate( 90deg );
    transition: transform 0.5s;
}

.tag.hideTag {
    transform: rotate( 90deg ) rotateX( 90deg );
}
