.wrapper {
    perspective: 500px;
    position: relative;
    transform-style: preserve-3d;
    transition: top 0.3s ease-in-out;
    width: 100%;
}

.image {
    border: 10px solid white;
    position: absolute;
    top: 0;
    width: 100%;
}

@for $index from 0 through 5 {
    .image#{ $index } {
        transition: transform 0.4s #{ $index * 0.12 }s cubic-bezier( 0, 0, 0, 1 );
    }
}
