.frame {
    background-color: white;
    height: 100%;
    padding: 10px;
    position: absolute;
}

.workImage {
    height: 100%;
}

.animate {
    transition:
        transform 0.7s cubic-bezier( 0.67, 0, 0.18, 1 ),
        height 0.4s ease-in-out,
        width 0.4s ease-in-out;
}
