@import "../styles/mixins.scss";

.paragraph {
    font-weight: 400;
    line-height: 24px;
    color: #8A8A8A;
}

.textWrapper {
    padding-left: calc( var( --bar-width ) + 7px );
}

.hidable {
    transition: all 0.3s;
    position: relative;
    width: 670px;

    @include mobile {
        width: 100%;
        padding-right: 20px;
    }
}

.hidden {
    z-index: -1;
    opacity: 0.2;
    transform: translateZ( -10px );
}

.site {
    perspective: 300px;
    transform-origin: top left;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
