@import "color";
@import "modules/button";

#resume {
	background-color: $resume-background;

	color: $resume-text-color;

	a.url {
		position: absolute;
		bottom: $button-padding;
		right: $button-padding;
	}
}