@import "color";

#worms {
	background-color: $worms-background;
	color: $worms-text-color;

	img {
		position: absolute;
		top: 0;
		right: 0;
	}

	span.description {
		width: 180px;
	}

	a.url {
		position: absolute;
		bottom: $button-padding;
		left: $button-padding;
	}

}