<div id="contact" class="tile two-by-one">

	<h2>{{title}}</h2>
	<span class="subtitle">{{subtitle}}</span>

	<span class="description left">{{left}}</span>
	<span class="description right">{{right}}</span>

</div>