<div id="twitter" class="tile two-by-one">

	<h2>{{title}}</h2>
	<span class="subtitle">{{subtitle}}</span>

	<span class="quotation one">&ldquo;</span>
	<span class="quotation two">&rdquo;</span>

	<div class="wrapper">
		<div class="cell">
			<div class="quote">
				{{quote}}
			</div>
		</div>
	</div>

	<a class="url button" href="http://www.twitter.com/mrPaumgarten" target="_blank">FOLLOW ME</a>

</div>